.cart-items {
  background: #f6f9fc;
  height: auto;
  padding: 50px 0;
}

.cart-items .icon {
  text-align: center;
  color: #e94560;
  font-size: 30px;

}

.cart-items .heading {
  text-align: center;
  font-size: 30px;

}

.cart-items .cart-details {
  width: 70%;
}

.cart-items .cart-total {
  width: 30%;
  margin-top: 30px;
  margin-left: 30px;
  height: 130px;
}

.cart-list {
  background: white;
  margin-top: 30px;
}

.cart-items .img {
  width: 150px;
  height: 150px;
}

.cart-items img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cart-items .cart-details h3 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
}

.cart-items .cart-details h4 {
  font-size: 15px;
  font-weight: 400;
  margin-top: 50px;
  color: grey;
}

.cart-items h4 span {
  color: #e94560;
  margin-left: 20px;
  font-weight: 500;
}

.removeCart {
  background: none;
  font-size: 25px;
  text-align: right;
  margin-right: 10px;
}

.cartControl {
  margin-top: 50px;
}

.cartControl button {
  width: 40px;
  height: 40px;
  margin: 10px;
  border-radius: 5px;
  font-size: 20px;
}

.incCart {
  background: none;
  border: 2px solid rgb(3 0 71 / 9%);
  color: #e94560;
}

.desCart {
  background: #f6f9fc;
}

.cart-total h4 {
  font-size: 15px;
  font-weight: 400;
}

.cart-total h3 {
  font-size: 20px;
  font-weight: 500;
  color: #e94560;
}

.cart-total h2 {
  font-size: 18px;
  margin-bottom: 20px;
  border-bottom: 2px solid rgb(3 0 71 / 9%);
  padding-bottom: 10px;
  color: #e94560;
}

.no-items {
  color: #e94560;
  font-size: 18px;
  margin-top: 30px;
  height: 130px;
}

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

:root {
    --empty-border: #8ee0b6;
    --fill-border: blue;
}

.container {
  align-self: center;
    text-align: center;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 50%;
}

.progress-container::before {
    content: '';
    background-color: var(--empty-border);
    position: absolute;
    height: 4px;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    left: 0;
    z-index: -1;
    transition: 0.8s ease;
}

.progress {
    background-color: #e94560;
    position: absolute;
    height: 4px;
    top: 50%;
    width: 0%;
    transform: translateY(-50%);
    left: 0;
    z-index: -1;
    transition: 0.2s ease;
}

.circle {
    border: 3.5px solid #86cea9;
    display: inline-flex;
    border-radius: 300px;
    cursor: pointer;
    box-shadow: unset;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 0.5rem 1.5rem;
    color: #e94560;
    background-color: #f6f9fc;
    font-size: 14px;
    font-weight: 600;
    transition: 0.4s all ease-in;
}

.circle.active {
    border-color: #e94560;
    background-color: #e94560;
    color: white;
}

.btn {
    background-color: var(--fill-border);
    padding: 5px 15px;
    margin-right: 15px;
    border-radius: 5px;
    cursor: pointer;
    border: 0;

}

.btn:active {
    transform: scale(0.95);
}

.btn:focus {
    outline: 0;
}

.btn:disabled {
    background-color: var(--empty-border);
    cursor: not-allowed;
}